@charset "UTF-8";
/* IMPORT */
/* MIXINS */
/* --------------------  
--- GENERALS  ---
-------------------- */
@charsert "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #000; }

main {
  max-width: 1500px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  overflow: hidden; }

/* TITRES */
h2 {
  font-family: 'Merriweather', 'Times New Roman', serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center; }

@media screen and (max-width: 550px) {
  h2 {
    font-size: 25px; } }
h3 {
  font-family: 'Merriweather', 'Times New Roman', serif;
  font-size: 25px;
  font-weight: 400; }

h4 {
  font-family: 'Merriweather', 'Times New Roman', serif;
  font-size: 20px;
  margin-bottom: 5px; }

h5 {
  margin: 5px 0 0 10px;
  color: #565454;
  font-size: 18px; }

/* bouton */
a.bouton {
  display: block;
  background: #2D2C2C;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase; }

/* --------------------  
--- HEADER ---
-------------------- */
header {
  padding: 40px; }
  header:before, header:after {
    display: table;
    content: ''; }
  header:after {
    clear: both; }
  header img {
    display: inline-block;
    vertical-align: middle;
    height: 50px; }
  header h1 {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto', 'arial', sans-serif;
    font-size: 30px; }
  header img.burger {
    display: none; }
  header nav {
    margin-top: 10px;
    float: right; }
    header nav ul li {
      list-style: none;
      display: inline-block;
      margin: 0 20px 0 0; }
      header nav ul li a {
        font-family: 'Merriweather', 'Times New Roman', serif;
        font-size: 20px;
        font-weight: 400;
        color: #000;
        text-transform: uppercase; }
    header nav ul li:last-child {
      margin: 0; }
    header nav ul .active {
      border-bottom: 1px solid #000; }

@media screen and (max-width: 950px) {
  .sticky {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    background: white; }

  header {
    text-align: center;
    padding: 15px; }
    header img {
      display: inline-block;
      vertical-align: middle;
      height: 30px; }
    header h1 {
      display: inline-block;
      font-size: 20px; }
    header img.burger {
      display: block;
      float: right; }
    header nav {
      margin-top: 15px;
      float: none; }
      header nav ul {
        display: none; }
        header nav ul li {
          display: block;
          width: 100%;
          padding: 10px;
          text-align: center;
          margin: 0 5px 0 0; }
          header nav ul li a {
            font-size: 15px; } }
/* --------------------  
--- FOOTER  ---
-------------------- */
footer {
  margin-top: 100px;
  height: 200px;
  background: #2D2C2C;
  text-align: center;
  font-size: 12px; }
  footer img {
    display: inline-block;
    width: 45px;
    margin: 20px 15px; }
  footer nav ul li {
    display: inline-block;
    margin: 0 7px; }
    footer nav ul li a {
      color: #fff; }
  footer nav ul li:after {
    content: "|";
    color: #fff;
    padding-left: 14px;
    width: 50px; }
  footer nav ul li:last-child:after {
    content: "";
    width: 0; }
  footer p {
    margin: 15px 0;
    text-align: center;
    color: #fff; }

/* --------------------  
--- INDEX  ---
-------------------- */
/* section 1 - à la une */
.expo_une {
  position: relative;
  margin-bottom: 100px; }
  .expo_une img {
    width: 100%;
    display: block; }
  .expo_une a.wrapp {
    display: block;
    position: absolute;
    margin-left: -200%;
    bottom: 10%;
    left: 5%;
    transition: 2s; }
    .expo_une a.wrapp .artistes {
      color: #fff;
      font-family: 'Merriweather', serif;
      font-size: 60px; }
    .expo_une a.wrapp .btn {
      color: #fff;
      background: #2D2C2C;
      text-align: center;
      padding: 5px; }
  .expo_une .loaded {
    transition: 2s;
    margin-left: 0% !important; }

@media screen and (max-width: 580px) {
  .expo_une a.wrapp {
    position: relative;
    margin-left: 0;
    bottom: 0;
    left: 0;
    padding: 8px; }
    .expo_une a.wrapp .artistes {
      font-size: 40px;
      color: #000; } }
/* section 2 - autres artistes */
.expo_suite {
  margin-bottom: 100px; }
  .expo_suite:before, .expo_suite:after {
    display: table;
    content: ''; }
  .expo_suite:after {
    clear: both; }
  .expo_suite .col {
    display: block;
    float: left;
    position: relative;
    width: 29.33%;
    margin: 2%;
    transition: 0.3s;
    background-color: #000; }
    .expo_suite .col img {
      display: block;
      width: 100%;
      opacity: 0.7; }
    .expo_suite .col .nom_art {
      position: absolute;
      top: 35%;
      left: 0;
      width: 100%;
      color: #fff;
      text-align: center;
      font-size: 25px; }
    .expo_suite .col .more {
      width: 80%;
      background: #eee;
      position: absolute;
      bottom: 5%;
      left: 10%;
      display: none;
      font-size: 11px; }
      .expo_suite .col .more p {
        padding: 10px; }
      .expo_suite .col .more div {
        background: #2D2C2C;
        color: #fff;
        text-align: center;
        padding: 10px;
        font-size: 16px;
        text-transform: uppercase; }
  .expo_suite .col:hover {
    transition: 0.3s; }
    .expo_suite .col:hover img {
      opacity: 1; }
    .expo_suite .col:hover .nom_art {
      display: none; }
    .expo_suite .col:hover .more {
      display: block; }

@media screen and (max-width: 900px) {
  .expo_suite {
    margin-bottom: 50px; }
    .expo_suite .col {
      float: left;
      position: relative;
      width: 48%;
      margin: 0;
      margin-bottom: 10px;
      transition: 0.3s;
      background-color: #000; }
    .expo_suite .col:nth-child(even) {
      margin-right: 2%; } }
@media screen and (max-width: 580px) {
  .expo_suite .col {
    float: none;
    width: auto; }
  .expo_suite .col:nth-child(even) {
    margin-right: 0; }
  .expo_suite .col:hover .more {
    display: none; } }
/* section 3 -- nous rejoindre */
.rejoindre {
  width: 80%;
  margin: 0 auto; }
  .rejoindre div {
    display: inline-block;
    vertical-align: middle; }
    .rejoindre div img {
      background: grey;
      width: 100%;
      display: block; }
    .rejoindre div .lef {
      text-align: left;
      margin: 10px; }
    .rejoindre div .right {
      text-align: right;
      margin: 10px;
      margin-bottom: 30px; }
    .rejoindre div p {
      font-size: 12px;
      line-height: 150%;
      margin: 20px 0; }
  .rejoindre .un {
    width: 59%; }
  .rejoindre .deux {
    width: 40%; }

@media screen and (max-width: 1020px) {
  .rejoindre {
    width: 100%; } }
@media screen and (max-width: 900px) {
  .rejoindre {
    width: 80%; }
    .rejoindre .un {
      display: none; }
    .rejoindre .deux {
      width: auto;
      margin: 0; } }
@media screen and (max-width: 580px) {
  .rejoindre {
    width: auto;
    padding: 10px; } }
/* --------------------  
--- ARTIST PAGE  ---
-------------------- */
.artist-page {
  margin-top: 50px; }
  .artist-page:before, .artist-page:after {
    display: table;
    content: ''; }
  .artist-page:after {
    clear: both; }
  .artist-page div {
    float: left;
    margin: 0 5%;
    padding: 1% 3%;
    line-height: 18px; }
    .artist-page div h3 {
      text-transform: uppercase;
      padding: 1%; }
    .artist-page div p {
      line-height: 180%;
      padding: 10px; }
      .artist-page div p span {
        text-transform: uppercase;
        font-style: italic; }
  .artist-page .bio {
    width: 55%; }
  .artist-page .expo-date {
    width: 25%; }
    .artist-page .expo-date a:hover {
      border-bottom: 1px solid #000; }

/* ** ARTIST's WORK ** */
.artwork {
  /* all rows */
  /* First row */ }
  .artwork .row {
    height: auto;
    margin: 5%;
    font-size: 0; }
    .artwork .row .item {
      display: inline-block;
      vertical-align: middle; }
  .artwork .row1 {
    height: auto; }
    .artwork .row1 .col60 {
      width: 60%;
      height: auto;
      padding: auto 0;
      overflow: hidden; }
      .artwork .row1 .col60 img {
        display: block;
        width: 450px;
        margin: 0 auto;
        overflow: hidden; }
    .artwork .row1 .col30 {
      width: 40%;
      height: auto;
      overflow: hidden; }
      .artwork .row1 .col30 img {
        display: block;
        width: 200px;
        margin: 0 auto; }

/* Second row */
.row2 .col30 {
  width: 40%;
  height: auto;
  overflow: hidden; }
  .row2 .col30:before, .row2 .col30:after {
    display: table;
    content: ''; }
  .row2 .col30:after {
    clear: both; }
  .row2 .col30 img {
    float: right;
    width: 240px;
    margin: 0 0 0 30%; }
.row2 .col60 {
  width: 60%;
  height: auto;
  overflow: hidden; }
  .row2 .col60 img {
    display: block;
    width: 380px;
    margin: 0 auto; }

/* Third row */
.row3 .col33 {
  width: 33.3%;
  height: auto;
  overflow: hidden; }
  .row3 .col33 img {
    display: block;
    width: 200px;
    margin: 0 auto; }

@media screen and (max-width: 950px) {
  .artwork .row1 .col60 img {
    width: 380px; }
  .artwork .row1 .col30 img {
    width: 180px; }
  .artwork .row2 .col30 img {
    float: none;
    display: block;
    margin: 0 auto; }
  .artwork .row3 .col33 img {
    width: 180px; } }
@media screen and (max-width: 780px) {
  .artist-page .bio {
    width: 90%;
    margin: 0 auto; }
  .artist-page .expo-date {
    width: 90%;
    margin: 0 auto;
    padding: 3%; }
  .artist-page div {
    float: none; }

  .artwork .row {
    height: auto;
    margin: 0; }
    .artwork .row .item {
      height: auto; }
      .artwork .row .item img {
        margin: 3% auto; }
  .artwork .row1 .col60 {
    width: 100%;
    height: auto; }
    .artwork .row1 .col60 img {
      width: 400px; }
  .artwork .row1 .col30 {
    width: 100%;
    height: auto; }
    .artwork .row1 .col30 img {
      width: 200px; }
  .artwork .row2 .col30 {
    width: 100%; }
  .artwork .row2 .col60 {
    width: 100%; }
  .artwork .row3 .col33 {
    width: 100%; }
    .artwork .row3 .col33 img {
      width: 250px; } }
/* --------------------  
--- LISTES ARTISTES PAGE  ---
-------------------- */
.listing {
  margin-top: 50px; }
  .listing .separation {
    border: 1px solid #000; }
  .listing nav {
    width: 450px;
    margin: 0 auto;
    text-align: center;
    margin-top: -15px;
    background: #fff; }
    .listing nav ul li {
      display: inline-block;
      margin: 0 8px;
      cursor: pointer;
      color: #B2B2B2;
      font-size: 24px; }
    .listing nav .active {
      color: #000;
      font-weight: bold; }
  .listing .wrapper {
    width: 80%;
    margin: 50px auto; }
    .listing .wrapper > div {
      display: none;
      padding: 5px; }
      .listing .wrapper > div article {
        margin-top: 100px; }
        .listing .wrapper > div article:before, .listing .wrapper > div article:after {
          display: table;
          content: ''; }
        .listing .wrapper > div article:after {
          clear: both; }
        .listing .wrapper > div article p {
          font-family: 'Merriweather', serif;
          font-size: 20px;
          margin-bottom: 30px;
          text-align: center;
          font-weight: 400; }
        .listing .wrapper > div article .col {
          width: 32%;
          margin-right: 2%;
          float: left; }
          .listing .wrapper > div article .col img {
            display: block;
            width: 100%;
            margin-bottom: 10px; }
          .listing .wrapper > div article .col a {
            display: block;
            padding: 20px 0;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            background: #2D2C2C; }
        .listing .wrapper > div article .col:last-child {
          margin-right: 0; }
    .listing .wrapper .ouvert {
      display: block; }

@media screen and (max-width: 1000px) {
  .listing .wrapper {
    width: auto; }
    .listing .wrapper > div article > div:first-child {
      border: 1px solid red; } }
@media screen and (max-width: 800px) {
  .listing .wrapper > div article .col {
    width: 49%; }
  .listing .wrapper > div article .sec {
    display: none; } }
@media screen and (max-width: 600px) {
  .listing .separation {
    display: none; }
  .listing nav {
    width: auto; }
    .listing nav ul li {
      font-size: 16px; }
    .listing nav .active {
      color: #000;
      font-weight: bold; }
  .listing .wrapper > div article .col {
    width: auto;
    margin-right: 0;
    float: none; } }
/* --------------------  
--- EVENTS PAGE  ---
-------------------- */
.evenements {
  width: 80%;
  max-width: 1220px;
  margin: 50px auto 0; }
  .evenements article {
    margin: 50px 0 150px 0; }
    .evenements article:before, .evenements article:after {
      display: table;
      content: ''; }
    .evenements article:after {
      clear: both; }
    .evenements article .left {
      float: left; }
    .evenements article .right {
      float: right; }
    .evenements article .decoration {
      width: 60%;
      max-height: 450px;
      overflow: hidden; }
      .evenements article .decoration img {
        width: 100%;
        display: block; }
    .evenements article .titre {
      background-color: rgba(196, 196, 196, 0.8);
      opacity: 0.8;
      width: 35%;
      text-align: center;
      font-family: 'Merriweather', serif; }
      .evenements article .titre h3 {
        font-weight: 700; }
      .evenements article .titre p {
        margin: 10px;
        font-size: 20px; }
    .evenements article .titreD {
      float: left;
      margin: 8% 0 0 -10%; }
    .evenements article .titreG {
      float: right;
      margin: 8% -10% 0 0; }
    .evenements article .description {
      width: 40%;
      padding: 20px; }
      .evenements article .description .sstitre {
        font-style: italic;
        font-family: 'Merriweather', serif;
        font-size: 14px;
        font-weight: 400;
        margin: 20px 0; }
      .evenements article .description p {
        font-size: 14px;
        line-height: 150%; }
      .evenements article .description a {
        margin-top: 20px; }

@media screen and (max-width: 1160px) {
  .evenements {
    width: auto; }
    .evenements article .decoration {
      width: 50%; }
    .evenements article .titre {
      background: none;
      opacity: 1; }
      .evenements article .titre p {
        font-size: 18px; }
    .evenements article .titreD {
      float: left;
      margin: 10px 0; }
    .evenements article .titreG {
      float: right;
      margin: 10px 0; }
    .evenements article .description {
      width: 50%;
      padding: 20px; }
      .evenements article .description .sstitre {
        margin: 0 0 20px 0; }
      .evenements article .description a {
        margin-top: 15px; } }
@media screen and (max-width: 900px) {
  .evenements article .decoration {
    width: auto;
    float: none; }
  .evenements article .titreD,
  .evenements article .titreG {
    width: auto;
    float: none;
    text-align: center; }
  .evenements article .description {
    width: 100%; }
    .evenements article .description a {
      margin-top: 5px; }
  .evenements article .description div,
  .evenements article .description p {
    display: none; } }
@media screen and (max-width: 490px) {
  .evenements {
    margin: 10px auto 0; }
    .evenements article {
      margin: 20px 0 50px 0; } }
/* --------------------  
--- INFORMATIONS/CONTACT PAGE  ---
-------------------- */
.informations:before, .informations:after {
  display: table;
  content: ''; }
.informations:after {
  clear: both; }
.informations .img-galerie {
  position: relative; }
  .informations .img-galerie img {
    display: block;
    width: 100%;
    z-index: 1; }
.informations section {
  float: left;
  width: 65%;
  margin: 50px 0 0 5%;
  padding: 20px; }
  .informations section h2 {
    text-align: left; }
  .informations section p {
    padding: 15px;
    line-height: 150%;
    font-size: 16px; }
  .informations section .map {
    width: 100%;
    height: 350px;
    background: #E5E3DF; }
.informations aside {
  width: 25%;
  float: right;
  margin: -25% 3% 0 0;
  position: relative;
  z-index: 3;
  padding: 5px; }
  .informations aside div {
    background: #F2F2F2;
    opacity: 0.8;
    margin: 20px 10px;
    padding: 10px; }
    .informations aside div p {
      margin: 10px;
      font-size: 16px; }

@media screen and (max-width: 1100px) {
  .informations section {
    margin-left: 0; }
  .informations aside {
    margin-right: 0;
    width: 30%; } }
@media screen and (max-width: 900px) {
  .informations section {
    float: none;
    width: auto; }
  .informations aside {
    width: auto;
    margin-top: 0;
    float: none; } }

/*# sourceMappingURL=styles.css.map */
